.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-bg);
}

.menuBar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.navContent {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.navOpen {
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.menu li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  line-height: 0.9;
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: 1.6rem;
  font-weight: 600;
}

.logo span:last-child {
  color: var(--color-primary);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transition: all 0.3s ease;
}

.lineOpen:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.lineOpen:nth-child(2) {
  opacity: 0;
}
.lineOpen:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.button {
  border: solid var(--color-secondary) 2px;
  border-radius: 50px;
  padding: 2px 25px;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--color-secondary);
  color: var(--color-bg);
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .navContent {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    background: transparent;
    right: 0;
  }

  .menu {
    flex-direction: row;
    gap: 35px;
    margin-right: 35px;
  }
}
